<?xml version="1.0" encoding="UTF-8"?>
<config>
	<haddock-project-organisation>
		<config-manager>VideoLibrary_ConfigManager</config-manager>
	</haddock-project-organisation>
	<page-building>
		<page-builder-class value="VideoLibrary_PageBuilder" />
	</page-building>
	<page-classes>
		<video-page-class value="VideoLibrary_VideoPage" />
		<search-page-class value="VideoLibrary_SearchPage" />
	</page-classes>

	<thumbnails>
		<default-thumbnail-url value="/images/video-library/default-thumbnail.png" />
		<original-directory 
                        value="DIR_TO_STORE_ORIGINAL_FILES" />
                <medium>
                        <directory 
                                value="ABSOLUTE_PATH_OF_DIR_FOR_WEB_THUMBNAILS" />
                        <web-directory 
                                value="RELATIVE_PATH_OF_DIR_FOR_WEB_THUMBNAILS" />
                        <width value="180" />
                        <height value="100" />
                </medium>
        </thumbnails>

</config>
