/***
 * Video Library Plug In
 * Admin Pages Stylesheet
 * SANH 2009-10-07
 */
fieldset#tags-fieldset {
padding: 0;
}
fieldset#tags-fieldset legend{
padding: 10px 0 0 60px;
font-size: 1.1em;
}
fieldset#tags-fieldset label{
display: none;
	/*marin: 0 0 10px 0;*/
}
input#tags {
	width: 80%;
	margin: 5px auto;
	display: block;
}
div#principal-tags {
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
    padding: 10px 0 5px 0;
    background: #E0B8FF;
}

ul.tags-empty-links-list {
	margin: 20px 25px;
	text-align: center;
}
ul.tags-empty-links-list li {
	cursor: pointer;
	display: inline;
	padding: 1px;
	margin: 0;
	font-weight: 900;
	color: #666;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	line-height:38px;
}
ul.tags-empty-links-list li.selected {
	background: #4040FF;
	color: white;
}


form div.radio-inputs {
        margin-left: 30%;
}

form div.radio-inputs label{
        padding: 0;
        margin: 0;
        float: none;
        display: inline;
}
