/***
 * Video Library Plug In
 * Admin Pages Stylesheet
 * SANH 2009-10-07
 */
fieldset#tags-fieldset {
padding: 0;
}
fieldset#tags-fieldset legend{
padding: 10px 0 0 60px;
font-size: 1.1em;
text-align: left;
}
fieldset legend{
text-align: left !important;
}
fieldset#tags-fieldset label{
display: none;
	/*marin: 0 0 10px 0;*/
}
input#tags {
	width: 80%;
	margin: 5px auto;
	display: block;
}
div.principal-tags {
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
    padding: 3px;
    background: #E0B8FF;
}

ul.tags-empty-links-list {
	margin: 20px 25px;
    -moz-column-width: 6em;
    -moz-column-gap: 1.5em;
    -moz-column-rule: 1px solid #ccc;
    -webkit-column-width: 6em;
    -webkit-column-gap: 1.5em;
    -webkit-column-rule: 1px solid #ccc;
}
div.principal-tags ul.tags-empty-links-list {
    -moz-column-rule: 1px solid white;
    -webkit-column-rule: 1px solid white;
}
ul.tags-empty-links-list li {
	cursor: pointer;
	display: block;
	padding: 5px 3px !important;
	margin: 5px 0 !important;
	font-weight: 900;
	color: #666;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
ul.tags-empty-links-list li.selected {
	background: #4040FF;
	color: white;
}


form div.radio-inputs {
        margin-left: 30%;
}

form div.radio-inputs label{
    padding: 3px 10px 3px 1px;
        line-height: 1.5em;
        float: none;
        display: inline;
}
form div.radio-inputs label.checked {
    -moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #4040FF;
	color: white;
    font-weight: 900;
}
form input.empty {
    background-color: #FF8080;
}

#form-validity-loading,
#form-validity-msg {
    -moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    margin: 10px 10px 0 10px;
    padding: 10px 10px 10px 50px;
    background: #ABFF80 url(/plug-ins/video-library/public-html/images/icons/32/video.png) 5px 50% no-repeat;
    color: #333;
    font-weight: 900;
    font-size: 1.4em;
    width: 16em;
}
#form-validity-loading {
    background: #ECF2FA url(/plug-ins/video-library/public-html/images/icons/32/loading.png) 5px 50% no-repeat;
}
#form-validity-msg.warning {
    background: #FF8080 url(/plug-ins/video-library/public-html/images/icons/32/warning.png) 5px 5px no-repeat;
}
