<?xml version="1.0" encoding="UTF-8"?>
<config>
	<verbosity>
		<meta-pages>
			<show-about-haddock-cms value="FALSE" />
		</meta-pages>
	</verbosity>
	<locations>
		<default value="/db-pages/home.html" />
	</locations>
	<oo-page-classes>
		<exception value="HaddockCMS_ExceptionPage" />
	</oo-page-classes>
</config>