<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--<project-specific-config-file-->
		<!--    class-name="ProtxPayments_PSModuleConfigFile"-->
		<!--/>-->
	<!--<encryption-password
		value="xxx"
		/>
	-->

	<!--<module-directory-subclass-->
		<!--    value="PaypalPayments_ModuleDirectory"-->
		<!--/>-->
	<haddock-project-organisation>
		<config-manager>ProtxPayments_ConfigManager</config-manager>
	</haddock-project-organisation>
</config>
