<?xml version="1.0" encoding="UTF-8"?>
<config>
	<verbosity>
		<exceptions>
			<names-are-printed value="FALSE" />
			<stack-traces-are-printed value="FALSE" />
		</exceptions>
		<meta-pages>
			<show-about-haddock-cms value="FALSE" />
		</meta-pages>
	</verbosity>
	<locations>
		<default value="/db-pages/home.html" />
	</locations>
</config>